@font-face {
	font-family: Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}
h1 {
	font-family: Titulo;
	font-size: 40px;
	color: #603A03;
}
body {
	background-image: url(../imgs/fundo.jpg);
}
#container {
	width: 950px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#fundoGame {
	width: 950px;
	height: 630px;
	background-image: url(../imgs/fundex.png);
	border-color: #FFF;
	border-style: solid;
}
#jogador{
	width: 145px;
	height: 58px;
	position: absolute;
	left: 8px;
	top: 179px;
}
.animaJogador{

	width:146px;
	height:58px;
	background-image:url(../imgs/Fighter.png);
	animation:animaJogador 1s steps(18) infinite;
	-webkit-animation:animaJogador 1s steps(18) infinite;
	-moz-animation: animaJogador 1s steps(18) infinite;
	-ms-animation: animaJogador 1s steps(18) infinite;
	-o-animation: animaJogador 1s steps(18) infinite;
}

@keyframes animaJogador{
	from {background-position:0px;}
	to {background-position:-2617px;}
}
@-webkit-keyframes animaJogador{
	from {background-position:0px;}
	to {background-position:-2617px;}
}
@-moz-keyframes animaJogador{
	from {background-position:0px;}
	to {background-position:-2617px;}
}
@-ms-keyframes animaJogador{
	from {background-position:0px;}
	to {background-position:-2617px;}
}
@-o-keyframes animaJogador{
	from {background-position:0px;}
	to {background-position:-2617px;}
}
#estrela {
	width: 59px;
	height: 50px;
	position: absolute;
	left: 850px;
	top: 253px;
	background-image: url(../imgs/strelinha.png)
}
.animaEstrela1{
	width: 59px;
	height: 50px;
	background-image: url(../imgs/strelinha.png);
	animation:animaEstrela1 5s steps(6) infinite;
	-webkit-animation:animaEstrela1 .5s steps(6)infinite;
	-moz-animation:animaEstrela1 .5s steps(6)infinite;
	-o-animation:animaEstrela1 .5s steps(6)infinite;
	-ms-animation:animaEstrela1 .5s steps(6)infinite;
}

@keyframes animaEstrela1{
	from {background-position:0px;}
	to {background-position:-355px;}
}
@-webkit-keyframes animaEstrela1{
	from {background-position:0px;}
	to {background-position:-355px;}
}
@-moz-keyframes animaEstrela1{
	from {background-position:0px;}
	to {background-position:-355px;}
}
@-ms-keyframes animaEstrela1{
	from {background-position:0px;}
	to {background-position:-355px;}
}
@-o-keyframes animaEstrela1{
	from {background-position:0px;}
	to {background-position:-355px;}
}
#inimigo1{
	width: 71px;
	height: 40px;
	position: absolute;
	left: 850px;
	top: 400px;
	background-image: url(../imgs/inimig1.png)
}
.animaInimigo1{
	width: 71px;
	height: 40px;
	background-image: url(.../imgs/inimig1.png);
	animation:animaInimigo1 .5s steps(3) infinite;
	-webkit-animation:animaInimigo1 .5s steps(3)infinite;
	-moz-animation:animaInimigo1 .5s steps(3)infinite;
	-o-animation:animaInimigo1 .5s steps(3)infinite;
	-ms-animation:animaInimigo1 .5s steps(3)infinite;
}

@keyframes animaInimigo1{
	from {background-position:0px;}
	to {background-position:-213px;}
}
@-webkit-keyframes animaInimigo1{
	from {background-position:0px;}
	to {background-position:-213px;}
}
@-moz-keyframes animaInimigo1{
	from {background-position:0px;}
	to {background-position:-213px;}
}
@-ms-keyframes animaInimigo1{
	from {background-position:0px;}
	to {background-position:-213px;}
}
@-o-keyframes animaInimigo1{
	from {background-position:0px;}
	to {background-position:-213px;}
}

#inimigo2{
	width: 200px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/tank.png)
}
#inimigo3{
	width: 64px;
	height: 38px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/inimig4.png)
}
.animaInimigo3{
	width: 64px;
	height: 38px;
	background-image: url(../imgs/inimig4.png);
	animation:animaInimigo3 .5s steps(3) infinite;
	-webkit-animation:animaInimigo3 .5s steps(3)infinite;
	-moz-animation:animaInimigo3 .5s steps(3)infinite;
	-o-animation:animaInimigo3 .5s steps(3)infinite;
	-ms-animation:animaInimigo3 .5s steps(3)infinite;
}

@keyframes animaInimigo3{
	from {background-position:0px;}
	to {background-position:-193px;}
}
@-webkit-keyframes animaInimigo3{
	from {background-position:0px;}
	to {background-position:-193px;}
}
@-moz-keyframes animaInimigo3{
	from {background-position:0px;}
	to {background-position:-193px;}
}
@-ms-keyframes animaInimigo3{
	from {background-position:0px;}
	to {background-position:-193px;}
}
@-o-keyframes animaInimigo3{
	from {background-position:0px;}
	to {background-position:-193px;}
}

#inimigo4{
	width: 81px;
	height: 75px;
	position: absolute;
	left: 850px;
	top: 253px;
	background-image: url(../imgs/inimig3.png)
}
.animaInimigo4{
	width: 81px;
	height: 75px;
	background-image: url(../imgs/inimig3.png);
	animation:animaInimigo4 5s steps(3) infinite;
	-webkit-animation:animaInimigo4 .5s steps(3)infinite;
	-moz-animation:animaInimigo4 .5s steps(3)infinite;
	-o-animation:animaInimigo4 .5s steps(3)infinite;
	-ms-animation: animaInimigo4 .5s steps(3)infinite;
}
@keyframes animaInimigo4{
	from {background-position:0px;}
	to {background-position:-245px;}
}
@-webkit-keyframes animaInimigo4{
	from {background-position:0px;}
	to {background-position:-245px;}
}
@-moz-keyframes animaInimigo4{
	from {background-position:0px;}
	to {background-position:-245px;}
}
@-ms-keyframes animaInimigo4{
	from {background-position:0px;}
	to {background-position:-245px;}
}
@-o-keyframes animaInimigo4{
	from {background-position:0px;}
	to {background-position:-245px;}
}
#boss1{
	width:188px;
	height:316px;
	position:absolute;
	left: 763px;
    top: 172px;
	background-image: url(../imgs/boss1.png);
}
#BossTiro1{
	width: 13px;
	height: 11px;
	left: 763px;
    top: 172px;
	position: absolute;
	background-image: url(../imgs/BossTiro.png)
}
#BossTiro1Explode{
	width: 13px;
	height: 11px;
	position: absolute;
	background-image: url(../imgs/BossTiroExplode.png)
}
.animaBossTiro1Explode{
	width: 13px;
	height: 11px;
	background-image: url(../imgs/BossTiroExplode.png);
	animation:animaBossTiro1Explode .9s steps(4) infinite;
	-webkit-animation:animaBossTiro1Explode .9s steps(4)infinite;
	-moz-animation:animaBossTiro1Explode .9s steps(4)infinite;
	-o-animation:animaBossTiro1Explode .9s steps(4)infinite;
	-ms-animation: animaBossTiro1Explode .9s steps(4)infinite;
}


@keyframes animaBossTiro1Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-webkit-keyframes animaBossTiro1Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-moz-keyframes animaBossTiro1Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-ms-keyframes animaBossTiro1Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-o-keyframes animaBossTiro1Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
#BossTiro2{
	width: 13px;
	height: 11px;
	left: 763px;
    top: 172px;
	position: absolute;
	background-image: url(../imgs/BossTiro2.png)
}
#BossTiro2Explode{
	width: 29px;
	height: 26px;
	position: absolute;
	background-image: url(../imgs/BossTiroExplode2.png)
}
.animaBossTiro2Explode{
	width: 29px;
	height: 26px;
	background-image: url(../imgs/BossTiroExplode2.png);
	animation:animaBossTiro2Explode .9s steps(4) 1;
	-webkit-animation:animaBossTiro2Explode .9s steps(4)1;
	-moz-animation:animaBossTiro2Explode .9s steps(4)1;
	-o-animation:animaBossTiro2Explode .9s steps(4)1;
	-ms-animation: animaBossTiro2Explode .9s steps(4)1;
}
@keyframes animaBossTiro2Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-webkit-keyframes animaBossTiro2Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-moz-keyframes animaBossTiro2Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-ms-keyframes animaBossTiro2Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
@-o-keyframes animaBossTiro2Explode{
	from {background-position:0px;}
	to {background-position:-117px;}
}
#BossTiroCentral{
	width: 25px;
	height: 82px;
	position: absolute;
	background-image: url(../imgs/BossTiroCentral.png)
}

#inimigo5{
	width: 51px;
	height: 44px;
	position: absolute;
	left: 850px;
	top: 253px;
	background-image: url(../imgs/bixinhoSprite.png)
}
.animaInimigo5{
	width: 51px;
	height: 44px;
	background-image: url(../imgs/bixinhoSprite.png);
	animation:animaInimigo5 5s steps(38)infinite;
	-webkit-animation:animaInimigo5 5s steps(38)infinite;
	-moz-animation:animaInimigo5 5s steps(38)infinite;
	-o-animation:animaInimigo5 5s steps(38)infinite;
	-ms-animation: animaInimigo5 5s steps(38)infinite;
}
@keyframes animaInimigo5{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-webkit-keyframes animaInimigo5{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-moz-keyframes animaInimigo5{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-ms-keyframes animaInimigo5{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-o-keyframes animaInimigo5{
	from {background-position:0px;}
	to {background-position:-1938px;}
}



#inimigo6{
	width: 51px;
	height: 44px;
	position: absolute;
	left: 850px;
	top: 253px;
	background-image: url(../imgs/bixinhoSprite.png)
}
.animaInimigo6{
	width: 51px;
	height: 44px;
	background-image: url(../imgs/bixinhoSprite.png);
	animation:animaInimigo6 5s steps(38)infinite;
	-webkit-animation:animaInimigo6 5s steps(38)infinite;
	-moz-animation:animaInimigo6 5s steps(38)infinite;
	-o-animation:animaInimigo6 5s steps(38)infinite;
	-ms-animation: animaInimigo6 5s steps(38)infinite;
}
@keyframes animaInimigo6{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-webkit-keyframes animaInimigo6{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-moz-keyframes animaInimigo6{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-ms-keyframes animaInimigo6{
	from {background-position:0px;}
	to {background-position:-1938px;}
}
@-o-keyframes animaInimigo6{
	from {background-position:0px;}
	to {background-position:-1938px;}
}


#inicio {
	width: 350px;
	height: 200px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
}

#disparo{
	width: 81px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparonv1.png);
}
#explosao3{
	width:44px;
	height: 51px;
	position:absolute;
}
#explosao1{
	width:15px;
	height: 87px;
	position:absolute;
}
#explosao2{
	width:15px;
	height: 87px;
	position:absolute;
}
.anima4{
	width:44px;
	height:51px;
	background-image: url(../imgs/amigo_explosao.png);
	animation:play3 .5s steps(7) infinite;
	-webkit-animation:play3 .5s steps(7) infinite;
	-moz-animation:play3 .5s steps(7) infinite;
	-ms-animation:play3 .5s steps(7) infinite;
	-o-animation:play3 .5s steps(7) infinite;
}
@keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}	
}
@-webkit-keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}
}
@-moz-keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}
}
@-ms-keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}
}
@-ms-keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}
}
@-o-keyframes play3{
	from{background-position: 0px;}
	to{background-position: -308px;}
}

#placar{
	width: 450px;
	height: 50px;
	position: absolute;
	left:5px;
	top:590;
}
h2{
	font-family:Titulo;
	font-size:20px;
	color:#FFF;
}
#energia{
	width:140px;
	height:38px;
	position: absolute;
	left: 750px;
	top:7px;
}
h3{
	font-family:Titulo;
	font-size:20px;
	color: #603A03;

}
#fim{
	width: 350px;
	height: 200px;
	background-color: #FFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	text-align:center;
	padding:10px;
}

.atirando{

	width:35px;
	height:33px;
	background-image:url(../imgs/atirando.png);
	animation:play5 .2s steps(3) infinite;
	-webkit-animation:play5 .2s steps(3) infinite;
	-moz-animation: play5 .2s steps(3) infinite;
	-ms-animation: play5 .2s steps(3) infinite;
	-o-animation: play5 .2s steps(3) infinite;
}

@keyframes play5{
	from {background-position:0px;}
	to {background-position:-103px;}
}
@-webkit-keyframes play5{
	from {background-position:0px;}
	to {background-position:-103px;}
}
@-moz-keyframes play5{
	from {background-position:0px;}
	to {background-position:-103px;}
}
@-ms-keyframes play5{
	from {background-position:0px;}
	to {background-position:-103px;}
}
@-o-keyframes play5{
	from {background-position:0px;}
	to {background-position:-103px;}
}


#barraHP {
	width: 950px;
    height: 20px;
    background-color: black;
    position: absolute;
    float: left;
    top: 610px;
    left: 2px;
}

#barraHP-interna {
	background-color:red;
	width: 950px; 
	text-align:center;
	color: white;
	padding: 1px;
}